@using BulletJournal.Models.Bullet;
@using BulletJournal.Web.ViewModels.Bullet;
@model EventViewModel

<div id="@Model.Event.Id" class="bullet @(Model.Event.BulletType.ToString().ToLower()) d-flex flex-column">

    <div class="display-mode d-flex">
        <span class="bullet-type">
            <i class="bi bi-circle"></i>
        </span>
        <span class="bullet-signifier @(Model.Event.Signifier.ToString().ToLower())"></span>
        <p class="bullet-description m-0 flex-fill">@Model.Event.Description</p>
          <div class="bullet-actions">
            <button type="button" class="btn text-primary p-0 button-edit-bullet" title="Editar Entrada">
                <i class="bi bi-pencil text-info"></i>
            </button>
            <button type="button" class="btn text-primary p-0 button-delete-bullet" title="Remover Entrada">
                <i class="bi bi-trash text-danger"></i>
            </button>
        </div>
    </div>
    <div class="edit-mode d-none">
        <form method="post" class="form-edit-bullet flex-fill">
            <input type="hidden" name="EditBulletViewModel.BulletId" value="@Model.Event.Id" />
            <label class="edit-bullet-label">Tipo:</label>

            <input type="text" class="edit-bullet-input flex-grow-0" name="EditBulletViewModel.BulletType" value="@Model.Event.BulletType" />

            <label class="edit-bullet-label">Texto:</label>

            <input type="text" class="edit-bullet-input flex-fill" name="EditBulletViewModel.Description" value="@Model.Event.Description" />

            <button type="submit" class="btn text-primary p-0 button-edit-confirm-bullet" title="Confirmar">
                <i class="bi bi-check-circle-fill text-success"></i>
            </button>

            <button type="button" class="btn text-primary p-0 button-edit-cancel-bullet" title="Cancelar">
                <i class="bi bi-x-circle-fill text-danger"></i>
            </button>
        </form>
    </div>
</div>