@using BulletJournal.Web.ViewModels;
@model JournalViewModel

@if (Model.Journal != null)
{
    <main class="journal d-flex flex-column flex-fill">
        <div class="journal-information jumbotron mb-3 bg-dark text-light border border-secondary rounded shadow-sm">
            <h3 class="journal-name">@Model.Journal.Name</h3>
            <p class="journal-description">@Model.Journal.Description</p>
            <hr />
            <h4 class="journal-year">@Model.Journal.Year</h4>
        </div>

        <div class="spread-container d-flex align-items-stretch flex-fill">

            @if (Model.CurrentSpread != null)
            {
                if (Model.PreviousPage != null)
                {
                    <text>
                        <a asp-page="/Journal/Page/Index" asp-route-pageNumber="@Model.PreviousPage.Number" class="link journal-page-link previous-page-link text-info">
                            <i class="bi bi-arrow-left-circle-fill"></i>
                        </a>
                    </text>
                }

                var spreadViewModel = new SpreadViewModel
                {
                    Spread = Model.CurrentSpread
                };

                <partial name="_Spread.cshtml" model="spreadViewModel" />

                if (Model.NextPage != null)
                {
                    <text>
                        <a asp-page="/Journal/Page/Index" asp-route-pageNumber="@Model.NextPage.Number" class="link journal-page-link next-page-link text-info">
                            <i class="bi bi-arrow-right-circle-fill"></i>
                        </a>
                    </text>
                }
            }
            else
            {
                <h4 class="text-warning">O seu diário está vazio</h4>
            }

        </div>
    </main>
}
else
{
    <p>
        <h4 class="text-info">Opa, parece que você não possui nenhum diário criado.</h4>
        <a asp-page="/Journal/Journal/Create" class="link-primary">Clique aqui para criar um novo diário</a>
    </p>
}